@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/font/proxima_ssv/ProximaNova-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/font/proxima_ssv/ProximaNova-Extrabld.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/font/proxima_ssv/ProximaNova-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.react-pizza {
  max-width: 1340px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  .header {
    max-width: 1340px;
    padding: 50px 38px 40px 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;

    &__logo {
      display: flex;
      align-items: center;

      img {
        width: 38px;
        height: 38px;
        margin-right: 17px;
      }

      &-title {
        h1 {
          font-size: 24px;
          margin: 0;
          font-weight: 900;
        }

        p {
          margin: 0;
          font-weight: normal;
          color: #7b7b7b;
        }
      }
    }

    &__card {
      padding: 12px 19px 13px 23px;
      background-color: #fe5f1e;
      border-radius: 30px;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;

      img {
        margin-left: 13px;
        padding-left: 14px;
        padding-right: 8px;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        height: 25px;
      }
    }
  }
  .container {
    padding: 40px 48px 96px 67px;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar {
        display: flex;
        li {
          padding: 14px 30px 17px 30px;
          border-radius: 30px;
          cursor: pointer;
          font-weight: bold;
          margin-right: 9px;
          background-color: #f9f9f9;

          &.active {
            background-color: #282828;
            color: #fff;
          }
        }
      }
      .sorting {
        display: flex;
        position: relative;

        &__select {
          position: relative;

          .selected {
            color: #fe5f1e;
            cursor: pointer;
            border-bottom: 1px dotted #fe5f1e;
          }
          .options_container {
            width: 132px;
            height: 149px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 1px 1px 4px 1px #ccc;
            padding-top: 13px;
            margin-top: 8px;
            position: absolute;
            right: 0;

            .options {
              padding-top: 10px;
              padding-bottom: 11px;
              padding-left: 14px;
              cursor: pointer;

              &:hover {
                color: #fe5f1e;
                font-weight: bold;
                background-color: rgba(254, 95, 30, 0.05);
              }
            }
          }
        }
      }

      .icon {
        border-color: transparent;
        border-top-color: #000;
        border-width: 6px 6px 0px 6px;
        border-style: solid;
        position: absolute;
        top: 7px;
        left: -20px;

        &.bottom {
          border-width: 0 6px 6px;
          border-bottom-color: #000;
        }
      }

      span {
        margin-right: 8px;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: bold;
      margin: 32px 0 0 0;
    }

    section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .cart {
        margin-top: 35px;
        margin-bottom: 30px;
        width: 280px;
        display: flex;
        flex-flow: column;
        align-items: center;

        &:not(:nth-of-type(4n)) {
          margin-right: 2.8%;
        }

        &__pizza-name {
          font-size: 20px;
          text-align: center;
          font-weight: 900;
          margin: 11px 0 22px 0;
        }

        &__pizza-block {
          height: 85px;
          width: 280px;
          background: #f3f3f3;
          border-radius: 10px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          padding: 7px 5px 7px 6px;

          ul {
            display: flex;
            justify-content: space-between;
            li {
              font-size: 14px;
              font-weight: bold;
              border-radius: 5px;
              padding: 6px 0 9px 0;
              text-align: center;
              cursor: pointer;

              &:hover {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                background: #fff;
              }

              &.active {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                background: #fff;
              }
              &.disabled {
                opacity: 0.4;
                pointer-events: none;
              }
            }

            &:nth-child(1) {
              li {
                width: 49%;
              }
            }

            &:nth-child(2) {
              li {
                width: 32%;
              }
            }
          }
        }

        &__pizza-block-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 280px;
          margin-top: 17px;

          .price {
            font-size: 22px;
            font-weight: bold;
          }

          .add-cart-btn {
            padding: 8px 18px 9px 37px;
            border-radius: 30px;
            background-color: #fff;
            border: 1px solid #eb5a1e;
            color: #eb5a1e;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
              content: "";
              background-color: #eb5a1e;
              width: 12px;
              height: 2px;
              position: absolute;
              left: 17px;
              top: 18px;
            }

            &::after {
              content: "";
              background-color: #eb5a1e;
              width: 2px;
              height: 12px;
              position: absolute;
              left: 22px;
              top: 13px;
            }

            &:hover {
              background-color: #fe5f1e;
              color: #fff;
              &::before {
                background-color: #fff;
              }
              &::after {
                background-color: #fff;
              }
              span {
                background: #fff;
                color: #eb5a1e;
              }
            }

            div {
              line-height: 23px;
            }

            span {
              margin-left: 7px;
              background: #eb5a1e;
              color: #fff;
              width: 23px;
              height: 23px;
              border-radius: 50%;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
